{% extends 'base.html' %}

{% block title %}
Объявления
{% endblock %}

{% block content %}
   {%if rubric %}
      <h1>Рубрика: {{rubric.name}}</h1>     
   {%else%}
      <h1>Объявления</h1>
   {%endif%}
   {% for bb in bbs %}
      <div>
         <h2>{{bb.title}}</h2>
         <p>{{bb.content}}</p>
         <p>{{bb.price}}</p>
         <p>{{bb.published|date:'d.m.y H:i:s'}}</p>
         <a href="{% url 'bbsite_app:by_rubric' bb.rubric.id %}"> {{ bb.rubric.name }}</a><br/>          
      </div>
   {% endfor %}
{% endblock %}
