{% extends 'base.html' %}

{% block title %}
Объявления
{% endblock %}

{% block content %}
   {%if rubric %}
      <h1>Рубрика: {{rubric.name}}</h1>     
   {%else%}
      <h1>Объявления</h1>
   {%endif%}

    <div class="container">
      <div class="row">
         {% for bb in bbs %}
            <div class="card col-3 m-5">
               <img src="..." class="card-img-top" alt="...">
               <div class="card-body">
               <h5 class="card-title">{{ bb.title }}</h5>
               <p class="card-text">
                  {%if bb.content %}<p>{{bb.content}}</p>{%endif%}
                  {%if bb.city %}<p>{{bb.city}}</p>{%endif%}
                  {%if bb.price %}<p>{{bb.price}}</p>{%endif%}
                 <p>{{bb.published|date:'d.m.y H:i:s'}}</p>
               </p>
               <a href="{% url 'bboard:detail' bb.id %}" class="btn btn-primary">Подробнее</a>
               <a href="{% url 'bboard:by_rubric' bb.rubric.id %}" class="btn btn-info">{{ bb.rubric.name }}</a>
               </div>
            </div>
          {% endfor %}
      </div>
    </div>
{% endblock %}
