{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <!-- <p>
            <label for="id_username">Имя пользователя:</label>
            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
        </p>
        <p>
            <label for="id_password">Пароль:</label>
            <input type="password" name="password" autocomplete="current-password" required id="id_password">
        </p>        -->
        {{form.as_p}}
        <button type="submit">Войти</button>
    </form>
    <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=62d3ee47742b47979d64e1208e58fed0&force_confirm=yes">Войти через яндекс</a>
    <br>
    <a href="{{google_link}}">Войти через гугл</a>
{% endblock %}