{% extends 'base.html' %}

{% block content %}
    <h2>Посмотреть список объявлений(метод GET)</h2>
    <form action="{% url 'bb_api:list_bb' %}" method="get" target="_blank">
        <button type="submit">Получить список</button>
    </form>
    <h2>Отправка данных(метод POST)</h2>
    <div>
        <table>
            <tr>
                <td>
                    <form action="{% url 'bb_api:json_test_post' %}" method="post" target="_blank">
                        {% csrf_token %}
                        <input type="text" name="a" value="2" placeholder="поле А">
                        <input type="text" name="b" value="3" placeholder="поле Б">        
                        <button type="submit">Отправка данных</button>
                    </form>
                </td>
                <td>
                    <p>В поля "А" и "Б" вводим числа. Возвращается результат сложения этих чисел.</p> 
                    <pre>
                    {
                        "a": "2",
                        "b": "3",
                        "c": 5
                    }
                    </pre>
                </td>
            </tr>

        </table>
    </div>
{% endblock %}